*{
	padding:0px;
	margin:0px;
}

@font-face {
  font-family: Montserrat;
  src:  url('fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Nunito;
  src:  url('fonts/Nunito-Regular.ttf');
}

@font-face {
  font-family: Lato;
  src:  url('fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: IBM;
  src:  url('fonts/IBM.ttf');
}

body{
	height: auto;
	width: 100%;
	background: linear-gradient(75deg, #CAC7C8, #EAEAED);

	padding-bottom: 100px; 
}

#main{
	background-color: white;
    width: 1080px;
	height: auto;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	box-sizing: border-box;
	border-bottom: 10px solid #111111EE;

	margin: 40px auto 40px;
	padding-top: 10px; 
}

.head{
	width: 100%;
	height: 45px;

	border: 0px solid red;
	text-align: center;
	margin: 50px 0px 25px;
}

.icon{
	width: 15px;
	height: 15px;

	border: 0px solid blueviolet;
	margin-top: 10px;
	opacity: 0.9;
}

.ic1{
	background: url(images/menu.png);
	background-size: cover;
	display: inline-block;
	vertical-align: top;
}

.ic2{
	background: url(images/search.png);
	background-size: cover;
	display: inline-block;
	vertical-align: top;
}

#header{
	width: 840px;
	height: 20px;

	color: #252525;
	border: 0px solid red;

	font-family: IBM;	
	font-size: 25px;
	font-weight: bolder;

	text-align: center;
	letter-spacing: -2px;

	display: inline-block;
	vertical-align: top;
}

#header-style{
	width: 150px; 
	box-sizing: border-box;

	border-right: 35px solid transparent; 
	border-left: 35px solid transparent; 
	/* border-bottom: 3px solid blueviolet; */

	margin: 0px auto;
}

.menu{
	width: auto;
	height: 20px;

	border: 0px solid red;	
	margin: 20px auto 10px;

	text-align: center;
}

.item{
	width: auto;
	height: auto;

	font-family: IBM;
	font-weight: bolder;
	font-size: 15px;
	color: #555555;

	display: inline-block;
	vertical-align: top;

	margin: 0px 15px;
}

#first-row{
	width: 900px;
	height: 350px;

	border: 0px solid red;	
	margin: 10px auto;
}

#second-row{
	width: 900px;
	height: 300px;

	border: 0px solid red;	
	margin: 10px auto;	
}

.prime-block{
	width: 435px;
	height: 345px;

	border: 0px solid brown;
	margin: 0px 5px;

	display: inline-block;
	vertical-align: top;
}

.secondary-block{
	width: 285px;
	height: 290px;

	border: 0px solid purple;
	margin: 0px 6px;

	display: inline-block;
	vertical-align: top;
}

.prime-row{
	width: 100%;
	height: 164px;

	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	margin: 0px 0px; 
}

#div1{
	width: 210px;
	height: 162px;

	border: 0px solid red;
	display: inline-block;
	vertical-align: top;

	margin-right: 5px;
	background: url(images/2.jpg); 
	background-size: cover; 
	background-position: 120% 10%;	
}

#div2{
	width: 210px;
	height: 162px;

	border: 0px solid red;
	display: inline-block;
	vertical-align: top;
	
	margin-left: 5px;
	background: url(images/3.jpg); 
	background-size: cover; 
	background-position: 120% 10%;
}

#logo{
	vertical-align:top;
	float:left;
	width:50px;
	height:40px;
}

#carousel {
	position:absolute;
	bottom:0;
    width: 1060px;
    height: 206px;
    background-color: black;
    overflow-x: auto;
    overflow-y: hidden;
    white-space:nowrap;
    padding-left: 20px;
}

#carousel .slide {
    display: inline-block;
    margin: 20px auto;
    padding-right: 10px;
}

.scroller{
	width: 100%;
	height: 270px;
	background: #111111EE;

	box-sizing: border-box;
	padding-top: 15px;
	text-align: center;
}

.img{
	width:150px;
	height:75px;

	border: 0px solid blue;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

    float:left;
    margin-left: 20px;
    padding: 40px;

	margin: 40px 10px;
}

.img:first-of-type {
    margin-left: 0;
}

.arw{
	color:white;
}

.left{
	width: 35px;
	height: 35px;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
	
	background: url(images/right.png);
	background-size: cover;
	border: 0px solid red;
	
	display: inline-block;
	vertical-align: top;

	margin-top: 100px;
	opacity: 0.8;
}

.horizontal-scroll-wrapper {
  width: 900px;
  height: 250px;
  
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: transparent;

  border: 0px solid red;

  display: inline-block;
  vertical-align: top;

  margin-left: 30px;
  margin-right: 30px;
}


.horizontal-scroll-wrapper > div{
	width: 3000px;
}

.right{
	width: 35px;
	height: 35px;
	
	background: url(images/right.png);
	background-size: cover;
	border: 0px solid red;

	display: inline-block;
	vertical-align: top;

	margin-top: 100px;
	opacity: 0.8;
}


.block-container{
	height: auto;
	width: 100%;
	text-align: center;
	background-color: white;
	border: 0px solid greenyellow;
}

.blocks{
    width: 470px;
    display: inline-block;
    margin-top: 10px;
}

.pic{
	height: 220px;
	width: 450px;
	 
}

.outer-container {
 width: 1080px;
 height: 200px;
}
 
.element{
 width: 1080px;
 height: 200px;
 top: -30px;
 left: 0px;
 background-color: red;
}

.outer-container {
 /*border: 1px solid;*/
 position: relative;
 overflow: hidden;
 background-color: black;
}
 
.inner-container {
 position: absolute;
 left: 0;
 overflow-x: hidden;
 overflow-y: scroll;
 transform: rotate(-90deg);
}
 
.inner-container::-webkit-scrollbar {
 display: none;
}

.imge{
/*width:220px;
height:130px;
padding-top: 15px;*/
transform: rotate(90deg);
}